# Entornos virtuales
venv_yolo/

# Datasets y fotos (Pesan demasiado)
#**/raw_img*/
#**/videos/
#**/Dataset_*/

# Resultados de entrenamiento (Solo subiremos los pesos finales después)
runs/
#**/entrenamiento_resultados/

# Archivos de sistema
.vscode/
__pycache__/
*.json